<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/guide_pg.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="guide-head">Select the city and tour guide</h1>
    <div class="bg-3 d-flex flex-row">
        <div class="d-flex flex-column">
            <form action="/payment" method="post">
                <label for="city" class="guide-heads">Choose a city:</label>
                <select name="city">
                        <optgroup label="Andhra Pradesh">
                            <option value="Amravati">Amravati</option>
                            <option value="Visakhapatnam">Visakhapatnam</option>
                        </optgroup>
                        <optgroup label="Arunachal Pradesh">
                            <option value="tawang">tawang</option>
                            <option value="itanagar">itanagar</option>
                        </optgroup>
                        <optgroup label="Assam">
                            <option value="Guwahati">Guwahati</option>
                            <option value="Dilbrugarh">Dilbrugarh</option>
                        </optgroup>
                        <optgroup label="Bihar">
                            <option value="Patna">Patna</option>
                            <option value="Gaya">Gaya</option>
                        </optgroup>
                        <optgroup label="Chhattisgarh">
                            <option value="raipur">raipur</option>
                            <option value="bhilaspur">bhilaspur</option>
                        </optgroup>
                        <optgroup label="Goa">
                            <option value="panaji">panaji</option>
                            <option value="vascodagama"> vascodagama</option>
                        </optgroup>
                        <optgroup label="Gujarat">
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="dwaraka">dwaraka</option>
                        </optgroup>
                        <optgroup label="Haryana">
                            <option value="Gurgaon">Gurgaon</option>
                            <option value="kurukshetra">kurukshetra</option>
                        </optgroup>
                        <optgroup label="Himachal Pradesh">
                            <option value="Shimla">Shimla</option>
                            <option value="kulumanali">kulumanali</option>
                        </optgroup>
                        <optgroup label="Jharkhand">
                            <option value="rajmahal">rajmahal</option>
                            <option value="dhandbad">dhandbad</option>
                        </optgroup>
                        <optgroup label="Karnataka">
                            <option value="Bengaluru"> Bengaluru</option>
                            <option value="Coorg">Coorg</option>
                        </optgroup>
                        <optgroup label="Kerala">
                            <option value="munnar">munnar</option>
                            <option value="kochi"> kochi</option>
                        </optgroup>
                        <optgroup label="Madhya Pradesh">
                            <option value="ujjain">ujjain</option>
                            <option value="bhopal">bhopal</option>
                        </optgroup>
                        <optgroup label="Maharastra">
                            <option value="Mumbai">Mumbai</option>
                            <option value="kolhapur">kolhapur</option>
                        </optgroup>
                        <optgroup label="Manipur">
                            <option value="chandel">chandel</option>
                            <option value="imphal">imphal></option>
                        </optgroup>
                        <optgroup label="Meghalaya">
                            <option value="shillong">shillong</option>
                            <option value="bhagmara">bhagmara</option>
                        </optgroup>
                        <optgroup label="Mizoram">
                            <option value="aizwal">aizwal</option>
                            <option value="champhai">champhai</option>
                        </optgroup>
                        <optgroup label="Nagaland">
                            <option value="kohima">kohima</option>
                            <option value="phek">phek</option>
                        </optgroup>
                        <optgroup label="Odisha">
                            <option value="purijaganath">purijaganath</option>
                            <option value="konark">konark</option>
                        </optgroup>
                        <optgroup label="Punjab">
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Amritsar">Amritsar</option>
                        </optgroup>
                        <optgroup label="Rajasthan">
                            <option value="Jaipur">Jaipur</option>
                            <option value="Ajmer">Ajmer</option>
                        </optgroup>
                        <optgroup label="Sikkim">
                            <option value="gangtok">gangtok</option>
                            <option value="Mangan">Mangan</option>
                        </optgroup>
                        <optgroup label="Tamil Nadu">
                            <option value="Chennai">Chennai</option>
                            <option value="madhurai">madhurai</option>
                        </optgroup>
                        <optgroup label="Telangana">
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Bhadrachalam">Bhadrachalam</option>
                        </optgroup>
                        <optgroup label="Tripura">
                            <option value="agartala">agartala</option>
                            <option value="udaipur">udaipur</option>
                        </optgroup>
                        <optgroup label="Uttar pradesh">
                            <option value="Agra">Agra</option>
                            <option value="Delhi">Delhi</option>
                        </optgroup>
                        <optgroup label="Uttarakhand">
                            <option value="bhadhrinath">bhadhrinath</option>
                            <option value="kedarnath">kedarnath</option>
                        </optgroup>
                        <optgroup label="West Bengal">
                            <option value="Kolkata">Kolkata</option>
                            <option value="darjiling">darjiling</option>
                        </optgroup>
                    </select>
                <label for="cars" class="guide-heads">Choose a tour guide:</label>
                <select name="guide_name" id="cars">
                        <option value="Sushanth">Sushanth</option>
                        <option value="Nageshwar">Nageshwar</option>
                        <option value="akshay">akshay</option>
                        <option value="akash">akash</option>
                        <option value="Ravi">Ravi</option>
                        <option value="Laxman">Laxman</option>
                        <option value="bhima">bhima</option>
                        <option value="Rajini">Rajini</option>
                        <option value="Kalki">Kalki</option>
                        <option value="Jigisha">Jigisha</option>
                        <option value="Krishna">Krishna</option>
                        <option value="Janu">Janu</option>
                    </select>
                <br><br>
                <label for="cars" class="guide-heads">Choose a restaurant:</label>
                <select name="restaurant" id="cars">
                        <option value="Starks">Starks</option>
                        <option value="Renaissance">Renaissance</option>
                        <option value="Honey Hut">Honey Hut</option>
                        <option value="Basil Leaf">Basil Leaf</option>
                    </select>
                <br><br>
                <label for="cars" class="guide-heads">Choose a hotel for roomstay:</label>
                <select name="hotel" id="cars">
                        <option value="Novotel">Novotel</option>
                        <option value="Sita Cottage hotel">Sita Cottage hotel</option>
                        <option value="Hotel Royal">Hotel Royal</option>
                        <option value="The Hillsid">The Hillside</option>
                    </select>
                <br><br>
                <label for="cars" class="guide-heads">Number of days:</label>
                <select name="days" id="cars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="more">more</option>
                    </select>
                <br><br>
                <label for="cars" class="guide-heads">Number of people:</label>
                <select name="people" id="cars">
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                <br><br>
                <a href="payment"><button class="cancel-button btn btn-primary">Next</button></a>
            </form>
        </div>
        <div class="d-flex flex-column justify-content-right">

        </div>
    </div>
    <script type="text/javascript" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"></script>
</body>

</html>