@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg {
    background-image: url("https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg?w=2000");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.e-name {
    font-size: 20px;
    font-family: "bree serif";
    margin: auto;
    color: black;
}

.register-button {
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.register-para {
    font-size: 20px;
    font-family: "bree serif";
    font-weight: bold;
    color: black;
}

.center1 {
    text-align: center;
    margin: auto;
}

.head {
    font-size: 30px;
    font-family: "bree serif";
    font-weight: bold;
    color: #34eb34;
    margin: 0px;
}

.login {
    font-size: 20px;
    font-family: "bree serif";
    font-weight: bold;
    color: black;
    margin: 0px;
}

.card1 {
    background-color: lightblue;
    height: 30px;
    width: 100px;
    border-color: orange;
    border-style: solid;
    border-width: 5px;
    margin: 10px;
}

.bg-register {
    background-image: url("https://img.freepik.com/free-vector/flat-design-travel-background_23-2149193475.jpg");
    height: 100vh;
    background-size: cover;
    padding: 300px;
}

.button1 {
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.state-head {
    font-size: 20px;
    font-family: "bree serif";
    padding: 20px;
    text-align: center;
}

.states {
    font-size: 32px;
    font-family: "bree serif";
    padding: 10px;
    margin-left: 60px;
}

.images {
    height: 200px;
    width: 200px;
    padding: 10px;
    margin-left: 60px;
}

.space {
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.cancel-button {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.guide-head {
    font-size: 35px;
    font-family: "bree serif";
    font-weight: bold;
    color: black;
    margin: 15px;
}

.guide {
    height: 40px;
    width: 200px;
    background-color: lightblue;
}

.guide-name {
    font-size: 20px;
    font-family: "bree serif";
    font-weight: 400;
    color: black;
    margin: 15px;
}

.spacing {
    margin: 10px;
}

.bg-2 {
    background-color: lightblue;
}

.bg-3 {
    background-color: lightpink;
}

.bg-5 {
    background-color: lightgreen;
    height: 200px;
    width: 100vw;
    margin-top: 90px;
}

.pay-success {
    font-size: 30px;
    font-family: "bree serif";
    font-weight: 400;
    color: white;
    padding: 30px;
    text-align: center;
}

.home-button {
    text-align: center;
    margin: 30px;
}

.image-guide {
    height: 100vh;
    width: 400px;
    margin: 20px;
}

.guide-heads {
    font-size: 20px;
    font-family: "bree serif";
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 15px;
}